@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient( to right, #BC9C87, #A57354);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8f674fea;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #98684A;
    text-align: center;
    text-shadow: 1px 1px 0px #472d1cd3;
}
h2 {

}

p {
text-align: justify;
}